.wrapper {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 2fr;
}

.nav-aside {
  grid-area: 1 / 1 / 2 / 2;
}

.nav-links {
  grid-area: 1 / 2 / 2 / 3;
}

.nav-main {
  grid-area: 1 / 3 / 2 / 4;
}

.main-aside {
  grid-area: 2 / 1 / 4 / 2;
}

.main-up {
  grid-area: 2 / 2 / 3 / 4;
}

.main-down {
  grid-area: 3 / 2 / 4 / 4;
}

.footer {
  grid-area: 4 / 1 / 5 / 4;
}
