.wrapper {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.span-1 {
  flex: 1;
}

.span-2 {
  flex: 2;
}

.span-3 {
  flex: 3;
}

.span-4 {
  flex: 4;
}
