.wrapper {
  display: grid;
  grid-template: 1fr 2fr 1fr / 1fr 1fr 1fr 1fr;
}

.nav-main {
  grid-area: 1 / 1 / 2 / 4;
}

.nav-aside {
  grid-area: 1 / 4 / 2 / 5;
}

.aside {
  grid-area: 2 / 1 / 3 / 2;
}

.main {
  grid-area: 2 / 2 / 3 / 5;
}

.footer-aside {
  grid-area: 3 / 1 / 4 / 3;
}

.footer-main {
  grid-area: 3 / 3 / 4 / 5;
}
